<mat-card *ngIf="pokemon" class="carte">
  <mat-icon>keyboard_backspace</mat-icon>
  <a class="button" (click)="goBack()">Retour</a>
  <mat-grid-list cols="2">

    <mat-grid-tile rowspan="1" rowHeight="200px">
      <mat-list>
        <img mat-card-lg-image src="../assets/img/official-artwork/{{pokemon.id}}.png">
        <mat-list-item><div class="id">No. {{pokemon.id | number: '3.0' }}</div></mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
      <mat-list>
        <mat-list-item>
          {{ pokemon.name }}&nbsp;&nbsp;
          <mat-icon (click)="playaudio(song)">play_circle_outline</mat-icon>
          <audio #song autoplay src="../assets/audio/{{pokemon.id}}.mp3"></audio>
        </mat-list-item>
        <mat-list-item><mat-chip-list *ngFor="let patate of pokemon.types"><mat-chip>{{ patate }}</mat-chip></mat-chip-list></mat-list-item>
        <mat-list-item>Taille: {{ pokemon.height | number: '1.2' }} m</mat-list-item>
        <mat-list-item>Poids: {{ pokemon.weight | number: '1.2' }} Kg</mat-list-item>
      </mat-list>
      <mat-card-content></mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-card-content>{{pokemon.description}}</mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>


